
html {
    box-sizing: border-box !important;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }


body {
    font-family: 'Rajdhani', sans-serif;
    background-color:black;

}

h1, h2, h3 {
    font-family: 'Racing Sans One', cursive;
    color:var(--primary);
}

/* Colors */

:root {
    --primary: #793E68;
    --white: #fff;


}

.sec-1{
    background-image: url('./img/partybus-hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
}
.section-spacer{
    width:70%;
    margin:0 auto;
}

.logo {
    width:30%;
}

nav {
    display:flex;
    justify-content: space-between;
    padding:2rem 0;
    margin-bottom:9rem;
}

.nav-list {
    display:flex;
    gap:20px;

}
.nav-links{
    color:var(--white);
    font-weight:bold;
    text-decoration: none;
}
.nav-linksactive{
    color:var(--white);
    font-weight:bold;
    text-decoration: none;
    border-bottom: 3px solid #793E68;

}
h1 {
   margin-bottom:1rem;
   padding-left:0.9rem;
}
p {
    color:var(--white);
    max-width:400px;
    margin-bottom:2rem;
}

.btn-primary {
    font-family: 'Racing Sans One', cursive;
    color:var(--white);
    background-color:var(--primary);
    width:8rem;
    border-radius: 66px;
    height:33px;
}

.sec-space{
   display:flex;
   flex-direction: column;
   align-items: center;
   margin:5rem 0;
   text-align:center;
}
h2 {
    margin:3rem 0;
}




form{
    display:flex;
    flex-direction: column;
    max-width:500px;
   
}

form:hover, :focus {
    outline: none;
}

.form-content{
    margin-bottom:2rem;
    padding:0.6rem;
    width:100%;
}

#msg {
    height:4rem;

   
}



footer{
    background-color:#1F1F1F ;
    height:600px;
}


.menu-ctn{
  position: absolute;
  background-color: #1F1F1F;
  width:100%;
  top:0;
  left:0;
  height:27rem;
  text-align: center;
  display:none;

}

.menu-ctn.active{
  display:initial;
}


.mobile-menu li {
  margin:2rem 0;
}



.m-links{
   font-size:1.6rem;

}
.m-links:hover 
:focus{
  font-size:2.2rem;

}


/* responsive */

@media (min-width:950px){
 h1 {
  font-size:4.3rem;
 }
 h2 {
  font-size:3.3rem;
 }
 p{
  font-size:1.6rem;
 }

 form{

  width:650px;
 
}

}

@media (max-width:850px){
   .nav-list{
    display:none;
   }
   
.mapper{
  width:300px;
}

}

@media (max-width:650px){


  .logo {
    width:60%;
  }
}


@media (max-width:350px){
  .form-content{
    margin:1.5rem auto;
    width:80%;
}
  .btn-mid{
     margin:0 2rem;
}
  p {
  
  max-width:300px;

}


}

@media (min-width:850px){
  .hamburger-init{
    display:none;
   }
   
}


  .hamburger-init {
    z-index: 1000;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 40px;
    cursor: pointer;
  }
  
  .bar {
    position: absolute;
    height: 5px;
    width: 100%;
    background: rgb(255, 255, 255);
    transition: all .3s;
  }
  
  .bar.middle-bar {
    top: 50%;
    margin-top: -2px;
  }
  
  .bar.bottom-bar {
    bottom: 0;
  }
  
  .hamburger-init.active {
    z-index: 2;
    animation: rotateHamburger .5s linear 0s forwards;
  }
  
  .hamburger-init.active .bar {
    background: #fff;
  }
  
  .hamburger-init.active .bar.top-bar {
    transform: translateY(12px) rotate(45deg);
  }
  
  .hamburger-init.active .bar.middle-bar {
    width: 0;
  }
  
  .hamburger-init.active .bar.bottom-bar {
    transform: translateY(-13px) rotate(-45deg);
  }
  
 
  
  /* Animations */
  
  @keyframes rotateHamburger {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  
  @keyframes moveItems {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    30% {
      transform: translateY(-15px);
      opacity: .2;
    }
    50% {
      transform: translateY(-10px);
      opacity: .3;
    }
    80% {
      transform: translateY(-5px);
      opacity: .4;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes showClickGuide {
    0% {
      opacity: 0;
      transform: scale(.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }